# <center>Introduction to Pandas</center>

![](https://pandas.pydata.org/_static/pandas_logo.png)


## Installation

Simply,
```
pip install pandas
```


## Reading data from a CSV file

You can read data from a CSV file using the ``read_csv`` function. By default, it assumes that the fields are comma-separated.

In [0]:
import pandas as pd

>The `imdb.csv` dataset contains Highest Rated IMDb "Top 1000" Titles.

In [0]:
# load imdb dataset as pandas dataframe
imdb_df = pd.read_csv("/content/imdb_1000.csv")

In [4]:
# show first 5 rows of imdb_df
imdb_df.head(5)

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

>The `bikes.csv` dataset contains information about the number of bicycles that used certain bicycle lanes in Montreal in the year 2012.

In [0]:
# load bikes dataset as pandas dataframe
bikes_df = pd.read_csv("/content/bikes.csv")

In [15]:
# show first 3 rows of bikes_df
bikes_df.head(3)

  Date;;Rachel / Papineau;Berri1;Maisonneuve_2;Maisonneuve_1;Brébeuf;Parc;PierDup;CSC (Côte Sainte-Catherine);Pont_Jacques_Cartier
0          01/01/2012;00:00;16;35;51;38;5;26;10;0;27
1         02/01/2012;00:00;43;83;153;68;11;53;6;1;21
2        03/01/2012;00:00;58;135;248;104;2;89;3;2;15

## Selecting columns

When you read a CSV, you get a kind of object called a DataFrame, which is made up of rows and columns. You get columns out of a DataFrame the same way you get elements out of a dictionary.

In [7]:
# list columns of imdb_df
imdb_df.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [8]:
# what are the datatypes of values in columns
imdb_df.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [9]:
# list first 5 movie titles
imdb_df['title'].head()

0    The Shawshank Redemption
1               The Godfather
2      The Godfather: Part II
3             The Dark Knight
4                Pulp Fiction
Name: title, dtype: object

In [10]:
# show only movie title and genre
imdb_df[['title','genre']].head()

                      title   genre
0  The Shawshank Redemption   Crime
1             The Godfather   Crime
2    The Godfather: Part II   Crime
3           The Dark Knight  Action
4              Pulp Fiction   Crime

## Understanding columns

On the inside, the type of a column is ``pd.Series`` and pandas Series are internally numpy arrays. If you add ``.values`` to the end of any Series, you'll get its internal **numpy array**.

In [11]:
# show the type of duration column
a=imdb_df['duration']
print(type(a))

<class 'pandas.core.series.Series'>

In [12]:
# show duration values of movies as numpy arrays
imdb_df['duration'].values[:10]

array([142, 175, 200, 152, 154,  96, 161, 201, 195, 139])

## Applying functions to columns

Use `.apply` function to apply any function to each element of a column.

In [13]:
# convert all the movie titles to uppercase
to_upper= lambda x:x.upper()
imdb_df['title'].apply(to_upper).head()

0    THE SHAWSHANK REDEMPTION
1               THE GODFATHER
2      THE GODFATHER: PART II
3             THE DARK KNIGHT
4                PULP FICTION
Name: title, dtype: object

## Plotting a column

Use ``.plot()`` function!

In [14]:
# plot the bikers travelling to Berri1 over the year
import matplotlib.pyplot as plt
bikes_df['Berril'].plot()
plt.show()

KeyError: ignored

In [0]:
# plot all the columns of bikes_df

## Value counts

Get count of unique values in a particular column/Series.

In [25]:
# what are the unique genre in imdb_df?
imdb_df['genre'].value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Sci-Fi         5
Thriller       5
Film-Noir      3
Family         2
Fantasy        1
History        1
Name: genre, dtype: int64

In [0]:
# plotting value counts of unique genres as a bar chart

In [0]:
# plotting value counts of unique genres as a pie chart

## Index

### DATAFRAME = COLUMNS + INDEX + ND DATA

### SERIES = INDEX + 1-D DATA

**Index** or (**row labels**) is one of the fundamental data structure of pandas. It can be thought of as an **immutable array** and an **ordered set**.

> Every row is uniquely identified by its index value.

In [0]:
# show index of bikes_df

In [0]:
# get row for date 2012-01-01

#### To get row by integer index:

Use ``.iloc[]`` for purely integer-location based indexing for selection by position.

In [16]:
# show 11th row of imdb_df using iloc
imdb_df.iloc[11]

star_rating                                                     8.8
title                                                     Inception
content_rating                                                PG-13
genre                                                        Action
duration                                                        148
actors_list       [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...
Name: 11, dtype: object

## Selecting rows where column has a particular value

In [28]:
# select only those movies where genre is adventure
imdb_df.loc[imdb_df.genre =='adventure']

Empty DataFrame
Columns: [star_rating, title, content_rating, genre, duration, actors_list]
Index: []

In [0]:
# which genre has highest number of movies with star rating above 8 and duration more than 130 minutes?

## Adding a new column to DataFrame

In [0]:
# add a weekday column to bikes_df

## Deleting an existing column from DataFrame

In [0]:
# remove column 'Unnamed: 1' from bikes_df

## Deleting a row in DataFrame

In [0]:
# remove row no. 1 from bikes_df

## Group By

Any groupby operation involves one of the following operations on the original object. They are −

- Splitting the Object

- Applying a function

- Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations −

- **Aggregation** − computing a summary statistic

- **Transformation** − perform some group-specific operation

- **Filtration** − discarding the data with some condition

In [31]:
# group imdb_df by movie genres
imdb_df.groupby('genre')

In [0]:
# get crime movies group

In [0]:
# get mean of movie durations for each group
imdb_df.groupby('genre').apply(lambda x :x.duration)

In [0]:
# change duration of all movies in a particular genre to mean duration of the group

In [0]:
# drop groups/genres that do not have average movie duration greater than 120.

In [0]:
# group weekday wise bikers count

In [0]:
# get weekday wise biker count

In [0]:
# plot weekday wise biker count for 'Berri1'

![](https://memegenerator.net/img/instances/500x/73988569/pythonpandas-is-easy-import-and-go.jpg)